* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ffdee9, #b5fffc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 30px;
}

.buttons {
  position: relative;
  height: 120px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  position: absolute;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
  left: 50%;
  transform: translateX(-120%);
}

#noBtn {
  background: #adb5bd;
  color: white;
  left: 50%;
  transform: translateX(20%);
  transition: all 0.15s ease;
}

#result {
  margin-top: 25px;
  font-size: 20px;
  color: #ff4d6d;
}
